{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Adicionar Produto</title>
    <link rel="stylesheet" href="{% static 'appDjango/css/adicionarP.css' %}">
  
</head>

<body>
    <h1>Inserir Produto</h1>

    <form method="post" action="{% url 'estoqueLoja' %}">
        {% csrf_token %}
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome">
        <br>

        <label for="descricao">Descrição:</label>
        <input type="text" name="descricao" id="descricao">
        <br>

        <label for="quantidade">Quantidade:</label>
        <input type="text" name="quantidade" id="quantidade">
        <br>
        <input type="submit" value="Inserir Produto" id="submit-button">
        <br>
    </form>
    
</body>
</html>
