<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Detalhes Produto</title>
</head>

<body>
    <h1>Editar Produto</h1>
    <form action="{% url 'estoqueLoja' %}" method="post">
        {% csrf_token %}

        <input type="hidden" name="id" value="{{ produto.id }}">

        <label for="nome">Nome</label>
        <input type="text" name="nome" value="{{ produto.nome }}">
    
        <label for="descricao">Descrição</label>
        <input type="text" name="descricao" value="{{ produto.descricao }}">
    
        <label for="quantidade">Quantidade</label>
        <input type="text" name="quantidade" value="{{ produto.quantidade }}">
    
        <input type="submit" value="Salvar">
    </form>

</body>
</html>
