{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title>Lista de Produtos</title>
  <link rel="stylesheet" href="{% static 'appDjango/css/estoque.css' %}">
  

</head>
<body>
  <div class="titulo">
    <h1>Estoque</h1>
  </div>
    <div class="estoque">
    <table>
      <tr>
        <th>Produto</th>
        <th>Descrição</th>
        <th>Quantidade</th>
        </tr>
        {% for produto in produtos %}
        <tr>
          <td>{{ produto.nome }}</td>
          <td>{{ produto.descricao }}</td>
          <td>{{ produto.quantidade }}</td>
        </tr>
        {% endfor %}
        </table>

        <div class ="url">
        <a href="{% url 'adicionarEstoque' %}">Adicionar Produto</a>
        <a href="info/1">Detalhes do Produto</a>
        <a href="editar/1">Editar Produto</a>
        <a href="excluir/1">Deletar Produto</a>
        </div>
      </div>

</body>
</html>
